mat-toolbar {
    display: flex;
    margin: auto;
    height: 100px;
    width: 500px;

    align-items: center;

    img {
        width: 30px;
        margin-right: 20px;
    }

    #home {
        width: 20px;
        padding: 0;
        margin: 0;

        * {
            margin: 0;
            padding:0;
        }
    }

    h2 {
        margin-right: auto;
    }
}