.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;

    margin: auto;
    // vertical-align: middle;
    // align-items: center;
    // padding: 25px;

    mat-card {
        padding: 25px;

        mat-card-header, mat-card-content {
            padding: 0;
        }
    }
    
    form {
        position: relative;
        width: 100%;

        * {
            // width: 200px;
            width: 100%;
        }

        mat-form-field {
            height: 50px;
            margin-bottom: 20px;
            display: block;
        }
    }
}