:host {
    --card-margin: 0 0 10px 0;
    --card-header-padding: 16px 32px 0 32px;
    --card-content-padding: 0 32px 0 32px;
    --card-footer-padding: 0 32px 16px 32px;
}

mat-card mat-card-header {
    font-weight: bold;
}

mat-card mat-card-footer {
    display: flex;
    justify-content: end;
    color: gray;
    font-weight: lighter;
}