:host {
    --card-margin: 0 0 50px 0;
    --card-content-padding: 16px 16px 0 16px;
    --card-footer-padding: 0 16px 16px 16px;
}

#postinputfield {
    width: 100%;
}

mat-card {
    mat-card-footer {
        display: flex;
        justify-content: end;
    }
}