#postinputfield {
    width: 100%;
}

mat-card {
    padding: 15px;
    // padding-top: 10px;

    mat-card-header,
    mat-card-content {
        padding: 0;
    }

    mat-card-footer {
        display: flex;
        justify-content: end;
    }
}