.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: auto;
}

mat-card {
    padding: 10px 25px;
    // padding-top: 10px;

    mat-card-header,
    mat-card-content {
        padding: 0;
    }
}

form {
    position: relative;
    width: 100%;

    * {
        width: 100%;
    }

    mat-form-field {
        height: 50px;
        margin-bottom: 20px;
        display: block;
    }
}

.register-button {
    margin-top: 15px;
    width: 100%;
}