
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --card-margin: 0;
  --card-header-padding: 16px 16px 0 16px;
  --card-content-padding: 0 16px 0 16px;
  --card-footer-padding: 0 16px 16px 16px;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  // background-color: var(--mat-sys-surface);
  background-color: #fff7fb;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  margin: var(--card-margin) !important;

  mat-card-header {
    padding: var(--card-header-padding) !important;
  }

  mat-card-content {
    padding: var(--card-content-padding) !important;
  }

  mat-card-footer {
    padding: var(--card-footer-padding) !important;
  }
}