
.centered {
    width: 500px;
    margin: auto;
}

mat-toolbar {
    display: flex;
    margin: auto;
    // margin-bottom: 30px;
    height: 100px;
    width: 500px;

    align-items: center;

    h2 {
        margin-right: auto;
    }
}